@tailwind base;
@tailwind components;
@tailwind utilities;

.about-me-clip-path{
    width: 100%;
    height: 100%;
    shape-outside: polygon(100% 0, 75% 100%, 100% 100%);
    clip-path: polygon(100% 0, 75% 100%, 100% 100%);
    float:right;
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url('../fonts/arialroundedmtbold.ttf') format('truetype');
}