.bar::-webkit-progress-bar {
    padding: 0.3em;
    border-radius: calc(1.4em / 2);
    background: #1e1e1e;
}
.bar::-webkit-progress-value {
    background: #03fcc2;
    box-shadow: 0 0 0.6em #0dfcc4, 0 0 0.8em #17fcc7;
    border-radius: calc(1.4em/2);
}